@font-face {
  font-family: "EV";
  src: url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.ttf");
}

.App {
  font-family: EV;
}

.container1 {
  position: relative;
}
.container1 img {
  display: block;
}
.container1 .overlay {
  position: absolute;
  top: 0;
  right: 0;
}

.border {
  border-radius: 10px;
  border: 5px dotter #db9406;
  border-style: dotted 1px #db9406;
  border-color: #db9406;
}
.border-sec {
  border: 2px solid #202037;
}
.fixed {
  position: fixed;
  height: 70px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.blue-navy {
  background-color: #202037;
}
