@font-face {
  font-family: "EV";
  src: url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.ttf");
}

.App {
  font-family: EV;
}

.container1 {
  position: relative;
}
.container1 img {
  display: block;
}
.container1 .overlay {
  position: absolute;
  top: 0;
  right: 0;
}

.border-1 {
  border-radius: 20px;
  border: 5px;
  border-style: dotted 1px #db9406;
  border-color: #db9406;
}
